*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:aliceblue;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#search-input {
    width: 80%;
    padding: 1rem;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    font-size: 1.2rem;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 3rem;
}

.movie-card {
    width: 300px;
    /* height: 500px; */
    /* margin: 10px; */
    
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    text-align: center;
}
.movie-card .movie-info{
    padding: 2rem;
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    button{
        padding: 0.6rem 1.5rem;
        border-radius: 5px;
        border: none;
        background-color: #333;
        color: #f0f0f0;
    }
    p{
        height: 10%;
        overflow: auto;
    }
}

.movie-card img {
    width: 100%;
    height: 300px;
}

.movie-card:hover {
    transform: scale(1.05);
}

#pagination {
    text-align: center;
    margin: 20px 0;
}

.page-link {
    margin: 0 5px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}
.active{
    background-color:#333;
    color: white;
    padding: 0.8rem;
    border-radius: 10px;
}